<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Kogni ipsum</title>
</head>
<body>
<body bgcolor="#808000">
<script>
function refresh() {
	history.replaceState(null, null);
}
refresh();
</script>
<style>
label {
	display: none;
}
</style>
<form method="POST">
	{% csrf_token %}
	{{ form }}
<button type="submit">Ilość zdań</button>
</form>
{{ skrypt }}
<br>
<form method="POST">
	{% csrf_token %}
	{{ form2 }}
<button type="submit">Ilość akapitów</button>
</form>
{{ skrypt2|linebreaksbr }}
 <a href='http://www.counterliczniki.com'>liczniki odwiedzin</a> <script type='text/javascript' src='https://www.counterliczniki.com/auth.php?id=0807d24156242e53d40b9b51c01eb6a30ae20020'></script>
<script type="text/javascript" src="https://www.counterliczniki.com/pl/home/counter/531596/t/0"></script>
</body>
</html>
